<html lang='ru'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Запись на бесплатный урок</title>
        <meta name='color-scheme' content='light' />
        <meta name='supported-color-schemes' content='light' />
        <link rel='stylesheet' href='{{path}}/styles/common/default.css' />
        <link rel='stylesheet' href='{{path}}/styles/common/font.css' />
        <link rel='stylesheet' href='{{path}}/styles/common/layout.css' />
        <link rel='stylesheet' href='{{path}}/styles/common/header.css' />
        <link rel='stylesheet' href='{{path}}/styles/common/footer.css' />
        <link rel='stylesheet' href='{{path}}/styles/forgotPassword.css' />
    </head>
    <body>
        <div class='container'>
            <div class='content'>
                <main class='main'>
                    <h1 class='title'>Контактные данные для записи на бесплатный урок</h1>
                    <div class='main-content'>
                        <span class='main-content__text'>Почта:</span>
                        <span class='main-content__text main-content__email'>{{email}}</span>
                    </div>
                    <div class='main-content'>
                        <span class='main-content__text'>Имя:</span>
                        <span class='main-content__text'>{{name}}</span>
                    </div>
                    <div class='main-content'>
                        <span class='main-content__text'>Телефон:</span>
                        <span class='main-content__text'>{{phone}}</span>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>