<html lang='ru'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Регистрация</title>
        <meta name='color-scheme' content='light' />
        <meta name='supported-color-schemes' content='light' />
        <link rel='stylesheet' href='{{path}}/styles/common/default.css' />
        <link rel='stylesheet' href='{{path}}/styles/common/font.css' />
        <link rel='stylesheet' href='{{path}}/styles/common/layout.css' />
        <link rel='stylesheet' href='{{path}}/styles/common/header.css' />
        <link rel='stylesheet' href='{{path}}/styles/common/footer.css' />
        <link rel='stylesheet' href='{{path}}/styles/registration.css' />
    </head>
    <body>
        <div class='container'>
            <div class='content'>
                <div class='header'>
                    <a href='{{logoLink}}' class='logo-link'>
                        <img
                            src='{{logoImageSrc}}'
                            alt='Логотип'
                            title='Логотип'
                            class='logo-img'
                            style='display:block'
                            width='169'
                            height='72'
                        />
                    </a>
                </div>
                <main class='main'>
                    <h1 class='title'>Ваша ссылка для оплаты в приложении ProstoChinese</h1>
                    <div class='main-content'>
                        <a href={{link}} target='_blank' class='main-content__text'>Сылка здесь</a>
                    </div>
                </main>
            </div>
            <div class='footer'>
                <p class='footer-text'>Спасибо, что используете ProstoChinese!
                    <br />
                    Если у вас есть вопросы, пожалуйста, напишите в службу поддержки:
                    <a
                        href='https://t.me/Prostochinesebotbot'
                        target='_blank'
                        rel='noopener noreferrer'
                    >ProstoChinese</a>
                    или
                    <a href='mailto:info@prostochinese.com'>info@prostochinese.com</a>.
                </p>
                <p class='footer-text'>Подписывайтесь на нас в
                    <a href='https://t.me/prostochinese' target='_blank' rel='noopener noreferrer'>Telegram</a>
                    и
                    <a href='https://vk.com/club224265705' target='_blank' rel='noopener noreferrer'>Вконтакте.</a>
                </p>
            </div>
        </div>
    </body>
</html>